In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3], 'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 'price': [450, 300, 350, 500, 450, 370, 290]})
authors_price = pd.merge(authors, book, on = 'author_id', how = 'left')

In [3]:
a1 = authors_price.groupby('author_name').agg({'price':'min'}).rename(columns={'price':'min_price'})
a2 = authors_price.groupby('author_name').agg({'price':'max'}).rename(columns={'price':'max_price'})
a3 = authors_price.groupby('author_name').agg({'price':'mean'}).rename(columns={'price':'mean_price'})
authors_stat = pd.concat([a1, a2, a3], axis = 1)
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000